.recipe-details h2 {
    color: brown;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.recipe-details h3 {
    color: brown;
}

.recipe-details ul, ol {
    color: green;
    
}

